<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        
        <a class="site-title" href="/mathproofs/">
          SNOOFS
          
        </a>
        <ul class="visible-links">
          <li class="masthead__menu-item">
              <a
                href="/mathproofs/list_of_proofs/"         
              >Proofs
              </a>
              <!--First Tier Drop Down-->
                <ul>

                  <li><a href="">List of Proofs</a></li>
                  <li><a href="">Geometry</a>
                    <ul>
                      <li><a href="">Ceva</a></li>
                      <li><a href="">Menalaus</a></li>
                      <li><a href="">Power of a Point</a></li>
                      <li><a href="">Ptolemy</a></li>
                      <li><a href="">Stewart</a></li>
                    </ul>
                  </li>


                  <li><a href="">Trigonometry</a>
                    <ul>
                      <li><a href="">Angle Addition</a></li>
                      <li><a href="">Double Angle</a></li>
                      <li><a href="">Half Angle</a></li>
                      <li><a href="">Law of Sine</a></li>
                      <li><a href="">Law of Cosine</a></li>
                    </ul>
                  </li>


                  <li><a href="">Number Theory</a>
                    <ul>
                      <li><a href="">Fermat's Little</a></li>
                    </ul>
                  </li>


                  <li><a href="">Complex Number</a>
                    <ul>
                      <li><a href="">Euler's Formula</a></li>
                    </ul>
                  </li>
              

                  <li><a href="">Sequence</a>
                    <ul>
                      <li><a href="">Arithmetic</a></li>
                    </ul>
                  </li>
                
                </ul>
          </li>
          <li class="masthead__menu-item">
            <a
              href="/mathproofs/snoopy/"         
            >Snoopy
            </a>
          </li>
        </ul>
        
        <button class="search__toggle" type="button">
          <span class="visually-hidden">Toggle search</span>
          <i class="fas fa-search"></i>
        </button>
        
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">Toggle menu</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>